@media (max-width: 400px){
    
    
}
@media (min-width: 401px) and (max-width: 1024px){
    
    
}
@media (min-width: 1025px){
    
    
}
button{
    color: black;
    background-color: rgb(239, 165, 57);
    border: 2px solid yellow;
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.table{
    border-left: 1px solid black;
    box-shadow: 1px 2px 1px;
    border-collapse: collapse;
    margin-top: 5%;
    max-width: 300px;
    border-radius: 20% 0% ;
}
.chat{
    width: 200px;   
    min-height: 75px;
    margin-top: 10px;
    border-radius: 50%;
}
nav{
  background-color: rgb(239, 165, 57);
    font-family: 'Righteous', cursive;
    border-bottom: 1px solid gray;
}
h1{
    font-size: 40pt;
}
.plus{
    max-width: 50%;
    border-radius: 50%;
    float: right;
    font-weight: bolder;
}
.team-member-photo{
    display: block;
    width: 100%;
}
.close{
  text-align: right;
}
.card{
    margin-top: 15px;
    width: 250px;
    font-size: 10pt;
    box-shadow: 2px 1px orangered;
}
h2{
    color: white;
}
section{
  background-color: rgb(239, 165, 57);
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
}
footer{
    background-color: lightgray;
    padding-top: 20px;
    border-top: 1px solid gray;
}
#about{
    text-align: center;
    font-family: 'Righteous', cursive;
}
* {box-sizing: border-box;}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  cursor: pointer;
  opacity: 0.8;
}
p{
    font-size: 18pt;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
}
/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: absolute;
  margin-top: -100px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=email], .form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}