@media (max-width: 400px){
    
    
}
@media (min-width: 401px) and (max-width: 1024px){
    
    
}
@media (min-width: 1025px){
    
    
}
.container{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 5%;
}

.table{
    border: 1px solid black;
    box-shadow: 1px 2px 1px;
    border-collapse: collapse;
    margin-top: 5%;
}
.chat{
    width: 100%;
    min-height: 75px;
    background-color: olive;
    color: white;
}
nav{
    background-color: orange;
}
.plus{
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    color: white;
    background-color: olive;
    float: right;
}