@media (max-width: 400px){
    
    
}
@media (min-width: 401px) and (max-width: 1024px){
    
    
}
@media (min-width: 1025px){
    
    
}
.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.table{
    border: 1px solid black;
    box-shadow: 1px 2px 1px;
    border-collapse: collapse;
    margin-top: 5%;
    max-width: 300px;
}
.chat{
    width: 200px;   
    min-height: 75px;
    background-color: orange;
    color: white;
    margin-top: 10px;
}
nav{
    background-color: orange;
    border-bottom: 1px solid gray;
}
.plus{
    max-width: 10%;
    max-height: 10%;
    border-radius: 50%;
    color: white;
    background-color: orange;
    float: right;
}
.team-member-photo{
    max-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.card{
    margin-top: 15px;
    width: 300px;
    font-size: 10pt;
    box-shadow: 2px 1px orangered;
}
h2{
    color: white;
}
section{
    background-color: orange;
    margin-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid gray;
}
footer{
    background-color: lightgray;
    padding-top: 20px;
    border-top: 1px solid gray;
}
#about{
    text-align: center;
}