body {
    display: flex;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }
  video {
    max-width: calc(50% - 100px);
    margin: 0 50px;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 0;
    box-shadow: rgba(156, 172, 172, 0.2) 0px 2px 2px, rgba(156, 172, 172, 0.2) 0px 4px 4px, rgba(156, 172, 172, 0.2) 0px 8px 8px, rgba(156, 172, 172, 0.2) 0px 16px 16px, rgba(156, 172, 172, 0.2) 0px 32px 32px, rgba(156, 172, 172, 0.2) 0px 64px 64px;
  }
  .copy {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
  }
/*puts the video and overlay containers on a grid.*/
.grid-container{
  display: grid;
  grid-template-columns: 2;
  grid-template-rows: 2;
  padding: 10px;
}
/*screencontainer1, overlay1, and localVideo, are one grid group.*/
#screencontainer1{
  position: relative;
  grid-column: 1;
  grid-row: 1;
}
#localVideo{
  position: relative;
  width: 100%;
  height: auto;
}
#overlay1{
  display: none;
  position:absolute;
	top: -50px;
	left: 125px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: transparent url(../images/partyhat.png) no-repeat;
}
/*screencontainer2, overlay2, and remoteVideo, are one grid group.*/
#screencontainer2{
  position: relative;
  grid-column: 2;
  grid-row: 1;
}
#remoteVideo{
  position: relative;
  width: 100%;
  height: auto;
}
#overlay2{
  display: none;
  position:absolute;
	top: -50px;
	left: 125px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: transparent url(../images/thoughtbubble.png) no-repeat;
}
/*screencontainer3, overlay3, and remoteVideo1, are one grid group.*/
#screencontainer3{
  position: relative;
  grid-column: 1;
  grid-row: 2;
}
#remoteVideo1{
  position: relative;
  width: 100%;
  height: auto;
}
#overlay3{
  display: none;
  position:absolute;
	top: -50px;
	left: 125px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: transparent url(../images/thundercloud.png) no-repeat;
}
/*screencontainer4, overlay4, and remoteVideo2, are one grid group.*/
#screencontainer4{
  position: relative;
  grid-column: 2;
  grid-row: 2;
}
#remoteVideo2{
  position: relative;
  width: 100%;
  height: auto;
}
#overlay4{
  display: none;
  position:absolute;
	top: -50px;
	left: 125px;
	width: 100%;
	height: 100%;
	z-index: 2;
	background: transparent url(../images/vikinghelmet.png) no-repeat;
}